.completionist {
  h5 {
    font-size: 1.2em;
    letter-spacing: 0.5em;
    margin-top: 40%;
    text-align: end;
  }

  h1 {
    color: $colorAccent;
  }

  @media (max-width: $screen-md-min) {
    h1 {
      color: $colorAccent;
      text-align: end;
      font-size: 7em;
    }
  }

  @media (min-width: $screen-md-min) {
    h5 {
      text-align: start;
      letter-spacing: 0.7em;
      margin-top: 0.4rem;
    }
  }

  @media (min-width: $screen-lg-min) {
    h5 {
      letter-spacing: 0.9em;
    }
  }
}
